.home-container {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  padding-bottom: 70px;
  padding-top: 80px;
  gap: 10px;
}

.flight-results-container {
  background-color: rgba(215, 225, 255, 0.3);
  padding: 50px 20px;
  border-radius: 16px;
  margin: 55px auto 20px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  box-sizing: border-box;
  position: relative; 
  padding-bottom: 80px;
}

.flight-results-container h2 {
  color: #000080;
  font-size: 2.1rem;
  margin: 0;
  text-align: center;
}

.alert {
  margin: 10px auto 0px auto;
  max-width: 600px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: opacity 0.5s ease-in-out;
}

.alert-success {
  background-color: #d1f7d6;
  color: #1d643b;
}

.alert-failure {
  background-color: #fde2e2;
  color: #842029;
}


.flight-tabs {
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
  overflow: hidden;
  border: 1px solid #e0e0e0;
  width: 1000px;
  margin-top:30px;
  margin-bottom: -30px;
}

.tab {
  flex:1;
  padding: 10px 24px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background: white;
  color: #888;
  transition: 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin: 5px;
  border-radius: 20px;
}

.tab.active {
  background: #00008B;
  color: white;
}

.arrow {
  width: 100px;
  height: 1.5px;
  background-color: #888;
  margin: 0 8px;
  border-radius: 1px;
  transition: background-color 0.2s ease;
}

.tab.active .arrow {
  background-color: white;
}

.book-button:disabled {
  background-color: #ccc;
  color: #444343;
  cursor: not-allowed;
  pointer-events: none;
}

.book-container {
  position: absolute;
  bottom: 25px;
  right: 30px;
}
